.sen {
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: roboto;
  scroll-behavior: smooth;
}

button {
  all: unset;
  cursor: pointer;
}

div.section-buttons {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: sen;
  margin-bottom: 1.5rem;
  color: #0d43cc;
}

.button {
  display: inline-block;
  color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 0.7rem;
  background-color: #0d43cc;
  font-family: sen;
  font-weight: 600;
}

.button:hover {
  background-color: #003091;
}

section {
  margin-top: 3rem;
}

section:first-of-type {
  margin-top: 1rem;
}

section.spiky-bg h2 {
  padding-left: 3rem;
}

section.spiky-bg {
  margin-bottom: 0;
}

main {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

header {
  height: 173px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
  background: linear-gradient(#0d43cc, transparent);
}
header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
header .header-container a img {
  height: 70px;
}
header .header-container nav ul {
  display: flex;
}
header .header-container nav ul li {
  margin-right: 3rem;
}
header .header-container nav ul li a {
  color: #f4f4f4;
  font-family: sen;
  font-weight: 500;
}
header .header-container nav ul li a:hover {
  color: #7d8f9e;
}
header .header-container nav ul li:last-of-type {
  margin: 0;
}
header .header-container nav #collapsed-menu {
  display: none;
}

main .hero-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35)), url(../img/banner/banner-madrid-1.webp);
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 65vh;
  display: flex;
  justify-content: end;
  overflow: hidden;
}

main div.hero {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 2rem 3rem;
}
main div.hero h1 {
  font-size: 3rem;
  font-family: roboto;
  margin: 0;
  color: white;
}
main div.hero h1 span {
  font-family: sen;
}
main div.hero p {
  font-size: 1.75rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
main div.hero form {
  position: relative;
  width: fit-content;
}
main div.hero form input {
  width: 750px;
  height: 2.3rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
  color: #3c4650;
}
main div.hero form input::placeholder {
  color: #7d8f9e;
}
main div.hero form input:focus {
  outline: solid #9b4653 4px;
}
main div.hero form button {
  display: inline-flex;
  background-color: transparent;
  border: none;
  color: inherit;
  color: #7d8f9e;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

footer {
  background-color: #3c4650;
  color: #f4f4f4;
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
}
footer .footer-container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
footer .footer-container div.links {
  display: flex;
  justify-content: space-between;
  line-height: 2;
}
footer .footer-container div.links div span {
  font-size: 1.75rem;
  font-family: sen;
  font-weight: bold;
}
footer .footer-container div.links .social-media {
  display: flex;
  gap: 0.5rem;
}
footer .footer-container div.links .social-media a img {
  height: 25px;
  filter: invert(1);
  margin-top: 1rem;
}
footer .footer-container div.links > div:last-child {
  margin-right: 10rem;
}
footer .footer-container div.links ul li a:hover {
  border-bottom: solid 2px #f4f4f4;
}
footer div.credits {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-size: small;
  color: #7d8f9e;
}
footer div.credits span {
  font-weight: bold;
}
footer div.credits span:hover {
  color: #f4f4f4;
}

main section.services {
  padding: 2rem 3rem;
  height: auto;
}
main section.services h2 {
  color: #0d43cc;
}
main section.services #bubbles-container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}
main section.services #bubbles-container .service-bubble {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main section.services #bubbles-container .service-bubble .service-icon {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
main section.services #bubbles-container .service-bubble .service-icon span {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  color: #f4f4f4;
  font-size: 2.25rem;
}
main section.services #bubbles-container .service-bubble .service-icon span.offCenter {
  margin-right: 0.3rem;
}
main section.services #bubbles-container .service-bubble .service-icon svg {
  height: 100px;
  position: relative;
}
main section.services #bubbles-container .service-bubble .service-icon .bubble-circle {
  fill: #0d43cc;
  transition: fill 0.1s ease-in-out;
}
main section.services #bubbles-container .service-bubble .service-icon .bubble-circle:hover {
  fill: #003091;
  cursor: pointer;
}
main section.services #bubbles-container .service-bubble .service-icon .bubble-spikes {
  visibility: hidden;
}
main section.services #bubbles-container .service-name {
  text-align: center;
  font-family: sen;
  color: #0d43cc;
  font-weight: bold;
  font-size: 1rem;
}

.spikes-divider-top,
.spikes-divider-bottom {
  line-height: 0;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
}
.spikes-divider-top svg path,
.spikes-divider-bottom svg path {
  fill: #f4f4f4;
}

main section#news-section div#news-container {
  background-color: #f4f4f4;
  padding: 2rem 3rem;
  display: flex;
  gap: 5rem;
  justify-content: center;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
}
main section#news-section div#news-container div.news-card {
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 300px;
  border-radius: 1.5rem;
  display: flex;
  align-items: end;
  padding: 1.5rem;
  box-shadow: #3c4650 2px 2px 5px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s linear;
  cursor: pointer;
}
main section#news-section div#news-container div.news-card img.news-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
main section#news-section div#news-container div.news-card p.news-head {
  color: white;
  font-size: 14px;
  position: relative;
  z-index: 2;
}
main section#news-section div#news-container div.news-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  background-image: linear-gradient(to top, #0d43cc 5%, transparent 50%);
  background-size: 100% 150%, cover;
  background-position: 0 75%, center;
  transition: background-position 0.2s linear;
}
main section#news-section div#news-container div.news-card:hover::after {
  background-position: 0 100%, center;
}
main section#news-section div#news-container div.news-card:hover {
  transform: scale(1.05);
  box-shadow: #3c4650 3px 3px 6px;
  text-decoration: underline white;
}
main section#news-section div#news-buttons {
  background-color: #f4f4f4;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
}
main section#news-section div#news-buttons div a {
  display: inline-block;
  min-width: 185px;
}

section#events-section {
  padding: 2rem 3rem;
  font-size: 16px;
}
section#events-section #events-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}
section#events-section #events-container #date-container {
  background-color: #0d43cc;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/3;
  border-radius: 2rem;
  justify-items: center;
  align-items: center;
}
section#events-section #events-container #date-container #calendar-container {
  height: 14em;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 6fr;
}
section#events-section #events-container #date-container #calendar-container #calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  font-size: 1.5em;
}
section#events-section #events-container #date-container #calendar-container #calendar-header #monthDisplay {
  font-family: sen;
  font-weight: 600;
  color: white;
}
section#events-section #events-container #date-container #calendar-container #calendar-header button {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: invert(1);
}
section#events-section #events-container #date-container #calendar-container #calendar-weekdays {
  color: #f4f4f4;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  text-align: center;
  border: 0.5px solid white;
  border-bottom: 0;
  font-weight: bold;
  font-size: 1.1em;
}
section#events-section #events-container #date-container #calendar-container #calendar-weekdays div {
  border: 0.5px solid white;
  border-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#events-section #events-container #date-container #calendar-container #calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border: 0.5px solid white;
}
section#events-section #events-container #date-container #calendar-container #calendar-days .day {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sen;
  color: #f4f4f4;
  font-weight: 500;
  font-size: 1.1em;
  cursor: pointer;
}
section#events-section #events-container #date-container #calendar-container #calendar-days .day:hover {
  background-color: #003091;
}
section#events-section #events-container #date-container #calendar-container #calendar-days .day + #currentDay {
  background-color: #f4f4f4;
  color: #0d43cc;
  font-weight: bold;
}
section#events-section #events-container #date-container #calendar-container #calendar-days .empty-day {
  pointer-events: none;
}
section#events-section #events-container #date-container #calendar-container #calendar-days .day,
section#events-section #events-container #date-container #calendar-container #calendar-days .empty-day {
  border: 0.5px solid white;
}
section#events-section #events-container #date-container #calendar-container #calendar-days .day-past {
  color: rgba(244, 244, 244, 0.5019607843);
  pointer-events: none;
}
section#events-section #events-container #date-container #calendar-container #calendar-days .selected-day {
  background-color: rgba(244, 244, 244, 0.5019607843);
}
section#events-section #events-container #date-container #calendar-container #calendar-days .selected-day:hover {
  background-color: #f4f4f4;
  color: #0d43cc;
}
section#events-section #events-container #date-container #date-showcase {
  display: flex;
  font-size: clamp(2em, 3vw, 3em);
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}
section#events-section #events-container .event-card {
  height: auto;
  width: 100%;
  aspect-ratio: 1;
  position: relative;
  border-radius: 2rem;
  padding: 2rem;
  overflow: hidden;
  cursor: pointer;
}
section#events-section #events-container .event-card img.event-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
section#events-section #events-container .event-card p.event-head {
  position: absolute;
  top: 75%;
  left: 0;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  z-index: 2;
}
section#events-section #events-container .event-card:hover {
  text-decoration: underline white;
}
section#events-section #events-container .event-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35%;
  z-index: 1;
  pointer-events: none;
  background-color: #3c4650;
  filter: opacity(0.5);
}
section#events-section #events-container .event-card:hover::after {
  filter: opacity(0.7);
}
section#events-section #events-container .no-events {
  background-color: #7d8f9e;
  pointer-events: none;
}

section#map-section {
  padding: 2rem 3rem;
}
section#map-section div#districts {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
section#map-section div#districts div#district-list-desktop ul {
  max-height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-weight: bold;
  color: #3c4650;
}
section#map-section div#districts div#district-list-mobile {
  display: none;
}
section#map-section div#districts div#district-map-info {
  border: 2px solid #f4f4f4;
  padding: 2rem 3rem;
  border-radius: 4rem;
  display: flex;
  align-items: start;
  gap: 6rem;
  margin-top: -3rem;
}
section#map-section div#districts div#district-map-info #district-info {
  color: #3c4650;
}
section#map-section div#districts div#district-map-info #district-info h3 {
  color: #3c4650;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
section#map-section div#districts div#district-map-info #district-info p {
  font-family: Sen;
  font-weight: bold;
}
section#map-section div#districts div#district-map-info #district-info a {
  display: inline-block;
  font-family: Sen;
  font-weight: 600;
  margin-top: 3rem;
}
section#map-section div#districts div#district-map-info #district-info a:hover {
  color: #9b4653;
  text-decoration: underline 2px #9b4653;
}
section#map-section div#districts div#district-map-info #district-map svg {
  height: 300px;
}
section#map-section div#districts div#district-map-info:has(a:hover) {
  border: 2px solid #9b4653;
}
section#map-section div#districts div#district-map-info:has(a:hover) #district-info h3 {
  color: #9b4653;
}
section#map-section .district-hover {
  fill: rgba(155, 70, 83, 0.5019607843);
  color: rgba(155, 70, 83, 0.5019607843);
  cursor: pointer;
}
section#map-section .district-clicked {
  fill: #9b4653;
  color: #9b4653;
}

@media only screen and (min-aspect-ratio: 0.3) and (max-aspect-ratio: 4/3) {
  #nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.35);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 8;
    pointer-events: none;
  }
  #nav-overlay.active {
    opacity: 1;
    pointer-events: all;
  }
  main {
    overflow: hidden;
  }
  section.spiky-bg h2 {
    padding-left: 1.5rem;
  }
  header {
    height: 173px;
    padding: 2rem 1.5rem;
  }
  header .header-container nav {
    display: flex;
    justify-content: center;
  }
  header .header-container nav ul {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 2rem;
    gap: 2rem;
    align-items: end;
    position: fixed;
    height: 100vh;
    width: 70%;
    max-width: 450px;
    top: 0;
    right: -450px;
    background-color: #003091;
    transition: right 0.3s ease;
    z-index: 9;
  }
  header .header-container nav ul.active {
    right: 0px;
  }
  header .header-container nav ul.active li {
    margin: 0;
  }
  header .header-container nav #collapsed-menu {
    display: flex;
    z-index: 9;
  }
  header .header-container nav #collapsed-menu span {
    filter: invert(1);
  }
  header.header-index a img {
    height: 50px;
  }
  main div.hero {
    background-size: 200%;
    background-position: bottom;
    padding: 2rem 1.5rem;
  }
  main div.hero h1 {
    font-size: 2rem;
  }
  main div.hero p {
    font-size: 1.25rem;
  }
  main div.hero form {
    width: 100%;
  }
  main div.hero form input {
    width: 100%;
  }
  footer {
    padding: 2rem 1.5rem;
  }
  footer .footer-container div.links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  footer .footer-container div.links .social-media a img {
    height: 35px;
  }
  footer .footer-container div.links > div:last-child {
    margin-right: 0;
  }
  footer .footer-container div.credits {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  footer .footer-container div.credits img {
    height: 70px;
    margin: 2rem 0;
  }
  footer .footer-container div.credits p {
    align-self: end;
  }
  main section.services {
    padding: 2rem 1.5rem;
  }
  main section.services #bubbles-container {
    display: flex;
    gap: 1rem;
  }
  main section.services #bubbles-container .service-bubble {
    width: 90px;
  }
  main section.services #bubbles-container .service-name {
    text-align: center;
    font-family: sen;
    color: #0d43cc;
    font-weight: 800;
    font-size: 0.75rem;
  }
  .spikes-divider-top,
  .spikes-divider-bottom {
    width: 250%;
  }
  main section#news-section div#news-container {
    padding: 2rem 1.5rem;
    flex-wrap: wrap;
    gap: 3rem;
  }
  main section#news-section div#news-buttons {
    flex-direction: column;
    padding: 1.5rem;
    text-align: center;
  }
  section#events-section {
    padding: 2rem 1.5rem;
  }
  section#events-section #events-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto repeat(3, 47vw);
    gap: 1rem;
  }
  section#events-section #events-container #date-container {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 1rem;
  }
  section#events-section #events-container #date-container #calendar-container {
    height: 17em;
  }
  section#events-section #events-container .event-card {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
  }
  section#events-section #events-container .event-card p.event-head {
    font-size: clamp(14px, 1.5vw, 5rem);
  }
  section#map-section {
    padding: 2rem 1.5rem;
  }
  section#map-section div#districts {
    display: flex;
    flex-direction: column;
  }
  section#map-section div#districts div#district-list-desktop ul {
    display: none;
  }
  section#map-section div#districts div#district-list-mobile {
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
  }
  section#map-section div#districts div#district-list-mobile select {
    all: unset;
    width: 100%;
    display: inline-block;
    color: white;
    padding: 0.7rem 1.5rem;
    border-radius: 0.7rem;
    background-color: #0d43cc;
    font-family: sen;
    font-weight: 600;
  }
  section#map-section div#districts div#district-map-info {
    border-radius: 2rem;
    flex-direction: column;
    gap: 2rem;
    margin-top: 0;
    padding: 2rem 2rem;
    align-items: center;
    justify-content: center;
  }
  section#map-section div#districts div#district-map-info #district-info h3 {
    font-size: 1.5rem;
  }
  section#map-section div#districts div#district-map-info #district-map svg {
    height: 250px;
  }
}

/*# sourceMappingURL=styles.css.map */
