.sen {
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: roboto;
}

button {
  all: unset;
  cursor: pointer;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: sen;
  margin-bottom: 1.5rem;
  color: #0d43cc;
}

.button {
  display: inline-block;
  color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 0.7rem;
  background-color: #0d43cc;
  font-family: sen;
  font-weight: 600;
}

.button:hover {
  background-color: #003091;
}

section {
  margin-top: 3rem;
}

section:first-of-type {
  margin-top: 1rem;
}

section.spiky-bg h2 {
  padding-left: 2rem;
}

section.spiky-bg {
  margin-bottom: 0;
}

header {
  height: 173px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin-right: 3rem;
}
header nav ul li a {
  color: #f4f4f4;
  font-family: sen;
  font-weight: 500;
}
header nav ul li a:hover {
  color: #7d8f9e;
}
header nav ul li:last-of-type {
  margin: 0;
}

header.header-index {
  background: linear-gradient(#0d43cc, transparent);
}

main div.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35)), url(../img/banner/banner-madrid-1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 65vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 2rem 3rem;
}
main div.hero h1 {
  font-size: 3rem;
  font-family: roboto;
  margin: 0;
  color: white;
}
main div.hero h1 span {
  font-family: sen;
}
main div.hero p {
  font-size: 1.75rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
main div.hero form {
  position: relative;
  width: fit-content;
}
main div.hero form input {
  width: 50vw;
  height: 2.3rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
  color: #3c4650;
}
main div.hero form input::placeholder {
  color: #7d8f9e;
}
main div.hero form input:focus {
  outline: solid #9b4653 4px;
}
main div.hero form button {
  display: inline-flex;
  background-color: transparent;
  border: none;
  color: inherit;
  color: #7d8f9e;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

footer {
  background-color: #3c4650;
  color: #f4f4f4;
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
}
footer div.links {
  display: flex;
  justify-content: space-between;
  line-height: 2;
}
footer div.links div span {
  font-size: 1.75rem;
  font-family: sen;
  font-weight: bold;
}
footer div.links .social-media {
  display: flex;
  gap: 0.5rem;
}
footer div.links .social-media a img {
  height: 25px;
  filter: invert(1);
  margin-top: 1rem;
}
footer div.links > div:last-child {
  margin-right: 10rem;
}
footer div.links ul li a:hover {
  border-bottom: solid 2px #f4f4f4;
}
footer div.credits {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-size: small;
  color: #7d8f9e;
}
footer div.credits span {
  font-weight: bold;
}
footer div.credits span:hover {
  color: #f4f4f4;
}

main section.services {
  padding: 2rem 3rem;
  height: auto;
}
main section.services h2 {
  color: #0d43cc;
}
main section.services #bubbles-container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}
main section.services #bubbles-container .service-bubble {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main section.services #bubbles-container .service-bubble .service-icon {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
main section.services #bubbles-container .service-bubble .service-icon span {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  color: #f4f4f4;
  font-size: 2.25rem;
}
main section.services #bubbles-container .service-bubble .service-icon span.offCenter {
  margin-right: 0.3rem;
}
main section.services #bubbles-container .service-bubble .service-icon svg {
  height: 100px;
  position: relative;
}
main section.services #bubbles-container .service-bubble .service-icon .bubble-circle {
  fill: #0d43cc;
  transition: fill 0.1s ease-in-out;
}
main section.services #bubbles-container .service-bubble .service-icon .bubble-circle:hover {
  fill: #003091;
  cursor: pointer;
}
main section.services #bubbles-container .service-bubble .service-icon .bubble-spikes {
  visibility: hidden;
}
main section.services #bubbles-container .service-name {
  text-align: center;
  font-family: sen;
  color: #0d43cc;
  font-weight: bold;
  font-size: 1rem;
}

.spikes-divider-top,
.spikes-divider-bottom {
  line-height: 0;
}
.spikes-divider-top svg path,
.spikes-divider-bottom svg path {
  fill: #f4f4f4;
}

main section#news-section div#news-container {
  background-color: #f4f4f4;
  padding: 2rem 3rem;
  display: flex;
  gap: 5rem;
  justify-content: center;
}
main section#news-section div#news-container div.news-card {
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 300px;
  border-radius: 1.5rem;
  display: flex;
  align-items: end;
  padding: 1.5rem;
  box-shadow: #3c4650 2px 2px 5px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s linear;
  cursor: pointer;
}
main section#news-section div#news-container div.news-card img.news-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
main section#news-section div#news-container div.news-card p.news-head {
  color: white;
  font-size: 0.75rem;
  position: relative;
  z-index: 2;
}
main section#news-section div#news-container div.news-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  background-image: linear-gradient(to top, #0d43cc 5%, transparent 50%);
  background-size: 100% 150%, cover;
  background-position: 0 75%, center;
  transition: background-position 0.2s linear;
}
main section#news-section div#news-container div.news-card:hover::after {
  background-position: 0 100%, center;
}
main section#news-section div#news-container div.news-card:hover {
  transform: scale(1.05);
  box-shadow: #3c4650 3px 3px 6px;
  text-decoration: underline white;
}
main section#news-section div#news-buttons {
  padding-top: 2rem;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

section#events-section {
  padding: 2rem 3rem;
}

#events-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}
#events-container .event-card {
  height: 100%;
  aspect-ratio: 1;
  position: relative;
  border-radius: 2rem;
  padding: 2rem;
  overflow: hidden;
  cursor: pointer;
}
#events-container .event-card img.event-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
#events-container .event-card p.event-head {
  position: absolute;
  top: 75%;
  left: 0;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  z-index: 2;
}
#events-container .event-card:hover {
  text-decoration: underline white;
}
#events-container .event-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35%;
  z-index: 1;
  pointer-events: none;
  background-color: #3c4650;
  filter: opacity(0.5);
}
#events-container .event-card:hover::after {
  filter: opacity(0.7);
}
#events-container .no-events {
  background-color: #7d8f9e;
  pointer-events: none;
}

#date-container {
  background-color: #0d43cc;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/3;
  border-radius: 2rem;
}

#date-showcase {
  display: flex;
  font-size: 3rem;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#calendar-container {
  height: 225px;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 6fr;
}
#calendar-container #calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  font-size: 1.5rem;
}
#calendar-container #calendar-header #monthDisplay {
  font-family: sen;
  font-weight: 600;
  color: white;
}
#calendar-container #calendar-header button {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: invert(1);
}
#calendar-container #calendar-weekdays {
  color: #f4f4f4;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  text-align: center;
  border: 0.5px solid white;
  border-bottom: 0;
  font-weight: bold;
  font-size: 1.1rem;
}
#calendar-container #calendar-weekdays div {
  border: 0.5px solid white;
  border-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#calendar-container #calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border: 0.5px solid white;
}
#calendar-container #calendar-days .day {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sen;
  color: #f4f4f4;
  font-weight: 500;
  font-size: 1.1rem;
  cursor: pointer;
}
#calendar-container #calendar-days .day:hover {
  background-color: #003091;
}
#calendar-container #calendar-days .day + #currentDay {
  background-color: #f4f4f4;
  color: #0d43cc;
  font-weight: bold;
}
#calendar-container #calendar-days .empty-day {
  pointer-events: none;
}
#calendar-container #calendar-days .day,
#calendar-container #calendar-days .empty-day {
  border: 0.5px solid white;
}
#calendar-container #calendar-days .day-past {
  color: rgba(244, 244, 244, 0.5019607843);
  pointer-events: none;
}
#calendar-container #calendar-days .selected-day {
  background-color: rgba(244, 244, 244, 0.5019607843);
}
#calendar-container #calendar-days .selected-day:hover {
  background-color: #f4f4f4;
  color: #0d43cc;
}

/*# sourceMappingURL=styles.css.map */
