//sass -w ./styles/styles.scss:./styles/styles.css

$white: white;
$black: black;
$gray: #7d8f9e;
$blue: #0d43cc;
$darkBlue: #003091;
$red: #9b4653;
$red-semi: #9b465380;

$light: #f4f4f4;
$light-semi: #f4f4f480;
$dark: #3c4650;

$padding-l: 2rem 3rem;
$padding-xaxis-l: 3rem;

$padding-s: 2rem 1.5rem;
$padding-xaxis-s: 1.5rem;

.sen {
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: roboto;
  scroll-behavior: smooth;
}

button {
  all: unset;
  cursor: pointer;
}

div.section-buttons {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: sen;
  margin-bottom: 1.5rem;
  color: $blue;
}

.button {
  display: inline-block;
  color: $white;
  padding: 0.7rem 1.5rem;
  border-radius: 0.7rem;
  background-color: $blue;
  font-family: sen;
  font-weight: 600;
}

.button:hover {
  background-color: $darkBlue;
}

section {
  margin-top: 3rem;
}

section:first-of-type {
  margin-top: 1rem;
}

section.spiky-bg h2 {
  padding-left: $padding-xaxis-l;
}

section.spiky-bg {
  margin-bottom: 0;
}

main {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

header {
  height: 173px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  padding: $padding-l;
  background: linear-gradient($blue, transparent);

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;

    a img {
      height: 70px;
    }

    nav {
      ul {
        display: flex;
        li {
          margin-right: 3rem;
          a {
            color: $light;
            font-family: sen;
            font-weight: 500;
          }

          a:hover {
            color: $gray;
          }
        }

        li:last-of-type {
          margin: 0;
        }
      }

      #collapsed-menu {
        display: none;
      }
    }
  }
}

main .hero-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35)),
    url(../img/banner/banner-madrid-1.webp);
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 65vh;
  display: flex;
  justify-content: end;
  overflow: hidden;
}

main div.hero {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: $padding-l;

  h1 {
    font-size: 3rem;
    font-family: roboto;
    margin: 0;
    color: $white;

    span {
      font-family: sen;
    }
  }

  p {
    font-size: 1.75rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  form {
    position: relative;
    width: fit-content;

    input {
      width: 750px;
      height: 2.3rem;
      border-radius: 0.5rem;
      border: none;
      padding: 0.5rem;
      color: $dark;
    }
    input::placeholder {
      color: $gray;
    }
    input:focus {
      outline: solid $red 4px;
    }
    button {
      display: inline-flex;
      background-color: transparent;
      border: none;
      color: inherit;
      color: $gray;
      cursor: pointer;
      position: absolute;
      right: 0.5rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

footer {
  background-color: $dark;
  color: $light;
  display: flex;
  flex-direction: column;
  padding: $padding-l;

  .footer-container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    div.links {
      display: flex;
      justify-content: space-between;
      line-height: 2;

      div span {
        font-size: 1.75rem;
        font-family: sen;
        font-weight: bold;
      }

      .social-media {
        display: flex;
        gap: 0.5rem;
      }

      .social-media a img {
        height: 25px;
        filter: invert(1);
        margin-top: 1rem;
      }

      > div:last-child {
        margin-right: 10rem;
      }

      ul li a:hover {
        border-bottom: solid 2px $light;
      }
    }
  }

  div.credits {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: small;
    color: #7d8f9e;

    span {
      font-weight: bold;
    }

    span:hover {
      color: $light;
    }
  }
}

main section.services {
  padding: $padding-l;
  height: auto;

  h2 {
    color: $blue;
  }

  #bubbles-container {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;

    .service-bubble {
      width: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .service-icon {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        span {
          position: absolute;
          z-index: 2;
          pointer-events: none;
          color: $light;
          font-size: 2.25rem;
        }

        span.offCenter {
          margin-right: 0.3rem;
        }

        svg {
          height: 100px;
          position: relative;
        }

        .bubble-circle {
          fill: $blue;
          transition: fill 0.1s ease-in-out;
        }

        .bubble-circle:hover {
          fill: $darkBlue;
          cursor: pointer;
        }

        .bubble-spikes {
          visibility: hidden;
        }
      }
    }
    .service-name {
      text-align: center;
      font-family: sen;
      color: $blue;
      font-weight: bold;
      font-size: 1rem;
    }
  }
}

.spikes-divider-top,
.spikes-divider-bottom {
  line-height: 0;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;

  svg path {
    fill: $light;
  }
}

main section#news-section {
  div#news-container {
    background-color: $light;
    padding: $padding-l;
    display: flex;
    gap: 5rem;
    justify-content: center;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;

    div.news-card {
      position: relative;
      overflow: hidden;
      height: 300px;
      width: 300px;
      border-radius: 1.5rem;

      display: flex;
      align-items: end;
      padding: 1.5rem;
      box-shadow: $dark 2px 2px 5px;
      transition: transform 0.2s ease-in-out, box-shadow 0.2s linear;
      cursor: pointer;

      img.news-thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
      }

      p.news-head {
        color: $white;
        font-size: 14px;
        position: relative;
        z-index: 2;
      }
    }

    div.news-card::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      pointer-events: none;
      background-image: linear-gradient(to top, $blue 5%, transparent 50%);

      background-size: 100% 150%, cover;
      background-position: 0 75%, center;
      transition: background-position 0.2s linear;
    }
    div.news-card:hover::after {
      background-position: 0 100%, center;
    }
    div.news-card:hover {
      transform: scale(1.05);
      box-shadow: $dark 3px 3px 6px;
      text-decoration: underline white;
    }
  }

  div#news-buttons {
    background-color: $light;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    div a {
      display: inline-block;
      min-width: 185px;
    }
  }
}

section#events-section {
  padding: $padding-l;
  font-size: 16px;

  #events-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 2rem;

    #date-container {
      background-color: $blue;
      padding: 2rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column: 1 / 3;
      border-radius: 2rem;
      justify-items: center;
      align-items: center;

      #calendar-container {
        height: 14em;
        aspect-ratio: 1/1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 6fr;

        #calendar-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 1rem;
          font-size: 1.5em;

          #monthDisplay {
            font-family: sen;
            font-weight: 600;
            color: $white;
          }

          button {
            display: flex;
            justify-content: center;
            align-items: center;
            filter: invert(1);
          }
        }

        #calendar-weekdays {
          color: $light;
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          grid-template-rows: 1fr;
          text-align: center;
          border: 0.5px solid white;
          border-bottom: 0;
          font-weight: bold;
          font-size: 1.1em;

          div {
            border: 0.5px solid white;
            border-bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        #calendar-days {
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          grid-template-rows: repeat(6, 1fr);
          border: 0.5px solid white;

          .day {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: sen;
            color: $light;
            font-weight: 500;
            font-size: 1.1em;
            cursor: pointer;
          }

          .day:hover {
            background-color: $darkBlue;
          }

          .day + #currentDay {
            background-color: $light;
            color: $blue;
            font-weight: bold;
          }

          .empty-day {
            pointer-events: none;
          }

          .day,
          .empty-day {
            border: 0.5px solid white;
          }

          .day-past {
            color: $light-semi;
            pointer-events: none;
          }

          .selected-day {
            background-color: $light-semi;
          }

          .selected-day:hover {
            background-color: $light;
            color: $blue;
          }
        }
      }

      #date-showcase {
        display: flex;
        font-size: clamp(2em, 3vw, 3em);
        color: $white;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1rem;
      }
    }

    .event-card {
      height: auto;
      width: 100%;
      aspect-ratio: 1;
      position: relative;
      border-radius: 2rem;

      padding: 2rem;
      overflow: hidden;
      cursor: pointer;

      img.event-thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
      }

      p.event-head {
        position: absolute;
        top: 75%;
        left: 0;
        color: $white;
        font-size: 1rem;
        font-weight: 600;
        position: relative;
        z-index: 2;
      }
    }

    .event-card:hover {
      text-decoration: underline white;
    }

    .event-card::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 35%;
      z-index: 1;
      pointer-events: none;
      background-color: $dark;
      filter: opacity(0.5);
    }

    .event-card:hover::after {
      filter: opacity(0.7);
    }

    .no-events {
      background-color: $gray;
      pointer-events: none;
    }
  }
}

section#map-section {
  padding: $padding-l;

  div#districts {
    display: grid;
    grid-template-columns: 1fr 2fr;

    div#district-list-desktop ul {
      max-height: 300px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 0.5rem;
      font-weight: bold;
      color: $dark;

      // li:hover {
      //   color: $red;
      //   cursor: pointer;
      // }
    }

    div#district-list-mobile {
      display: none;
    }

    div#district-map-info {
      border: 2px solid $light;
      padding: 2rem 3rem;
      border-radius: 4rem;
      display: flex;
      align-items: start;
      gap: 6rem;
      margin-top: -3rem;

      #district-info {
        color: $dark;
        h3 {
          color: $dark;
          font-size: 2rem;
          margin-bottom: 0.5rem;
        }

        p {
          font-family: Sen;
          font-weight: bold;
        }

        a {
          display: inline-block;
          font-family: Sen;
          font-weight: 600;
          margin-top: 3rem;
        }

        a:hover {
          color: $red;
          text-decoration: underline 2px $red;
        }
      }

      #district-map svg {
        height: 300px;
      }
    }

    div#district-map-info:has(a:hover) {
      border: 2px solid $red;

      #district-info h3 {
        color: $red;
      }
    }
  }

  .district-hover {
    fill: $red-semi;
    color: $red-semi;
    cursor: pointer;
  }

  .district-clicked {
    fill: $red;
    color: $red;
  }
}

@media only screen and (min-aspect-ratio: 0.3) and (max-aspect-ratio: 4/3) {
  main {
    overflow: hidden;
  }

  section.spiky-bg h2 {
    padding-left: $padding-xaxis-s;
  }

  header {
    height: 173px;
    padding: $padding-s;

    .header-container {
      nav {
        display: flex;
        justify-content: center;

        ul {
          display: none;
        }

        #collapsed-menu {
          display: flex;
          span {
            filter: invert(1);
          }
        }
      }
    }
  }

  header.header-index {
    a img {
      height: 50px;
    }
  }

  main div.hero {
    background-size: 200%;
    background-position: bottom;
    padding: $padding-s;

    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1.25rem;
    }

    form {
      width: 100%;
      input {
        width: 100%;
      }
    }
  }

  footer {
    padding: $padding-s;

    .footer-container {
      div.links {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .social-media a img {
          height: 35px;
        }

        > div:last-child {
          margin-right: 0;
        }
      }

      div.credits {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;

        img {
          height: 70px;
          margin: 2rem 0;
        }

        p {
          align-self: end;
        }
      }
    }
  }

  main section.services {
    padding: $padding-s;

    #bubbles-container {
      display: flex;
      gap: 1rem;

      .service-bubble {
        width: 90px;
      }
      .service-name {
        text-align: center;
        font-family: sen;
        color: $blue;
        font-weight: 800;
        font-size: 0.75rem;
      }
    }
  }

  .spikes-divider-top,
  .spikes-divider-bottom {
    width: 250%;
  }

  main section#news-section {
    div#news-container {
      padding: $padding-s;
      flex-wrap: wrap;
      gap: 3rem;
    }

    div#news-buttons {
      flex-direction: column;
      padding: $padding-xaxis-s;
      text-align: center;
    }
  }

  section#events-section {
    padding: $padding-s;

    #events-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto repeat(3, 47vw);
      gap: 1rem;

      #date-container {
        display: grid;
        grid-template-columns: 1fr;
        border-radius: 1rem;

        #calendar-container {
          height: 17em;
        }
      }

      .event-card {
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        padding: 1rem;

        p.event-head {
          font-size: clamp(14px, 1.5vw, 5rem);
        }
      }
    }
  }

  section#map-section {
    padding: $padding-s;

    div#districts {
      display: flex;
      flex-direction: column;

      div#district-list-desktop ul {
        display: none;
      }

      div#district-list-mobile {
        display: flex;
        width: 100%;
        margin-bottom: 2rem;
        select {
          all: unset;
          width: 100%;
          display: inline-block;
          color: $white;
          padding: 0.7rem 1.5rem;
          border-radius: 0.7rem;
          background-color: $blue;
          font-family: sen;
          font-weight: 600;
        }
      }

      div#district-map-info {
        border-radius: 2rem;
        flex-direction: column;
        gap: 2rem;
        margin-top: 0;
        padding: 2rem 2rem;
        align-items: center;
        justify-content: center;

        #district-info {
          h3 {
            font-size: 1.5rem;
          }
        }

        #district-map svg {
          height: 250px;
        }
      }
    }
  }
}
