$white: white;
$black: black;
$gray: #7d8f9e;
$blue: #0d43cc;
$darkBlue: #003091;
$red: #9b4653;

$light: #f4f4f4;
$dark: #3c4650;

$padding-l: 2rem 3rem;
$padding-xaxis-l: 2rem;

.sen {
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: roboto;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: sen;
  margin-bottom: 1.5rem;
  color: $blue;
}

.button {
  display: inline-block;
  color: $white;
  padding: 0.7rem 1.5rem;
  border-radius: 0.7rem;
  background-color: $blue;
  font-family: sen;
  font-weight: 600;
}

.button:hover {
  background-color: $darkBlue;
}

section {
  margin-top: 3rem;
}

section:first-of-type {
  margin-top: 1rem;
}

section.spiky-bg h2 {
  padding-left: $padding-xaxis-l;
}

section.spiky-bg {
  margin-bottom: 0;
}

header {
  height: 173px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: $padding-l;

  nav {
    ul {
      display: flex;
      li {
        margin-right: 3rem;
        a {
          color: $light;
          font-family: sen;
          font-weight: 500;
        }

        a:hover {
          color: $gray;
        }
      }

      li:last-of-type {
        margin: 0;
      }
    }
  }
}

header.header-index {
  background: linear-gradient($blue, transparent);
}

main div.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35)),
    url(../img/banner/banner-madrid-1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 65vh;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: $padding-l;

  h1 {
    font-size: 3rem;
    font-family: roboto;
    margin: 0;
    color: $white;

    span {
      font-family: sen;
    }
  }

  p {
    font-size: 1.75rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  form {
    position: relative;
    width: fit-content;
    input {
      width: 50vw;
      height: 2.3rem;
      border-radius: 0.5rem;
      border: none;
      padding: 0.5rem;
      color: $dark;
    }
    input::placeholder {
      color: $gray;
    }
    input:focus {
      outline: solid $red 4px;
    }
    button {
      display: inline-flex;
      background-color: transparent;
      border: none;
      color: inherit;
      color: $gray;
      cursor: pointer;
      position: absolute;
      right: 0.5rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

footer {
  background-color: $dark;
  color: $light;
  display: flex;
  flex-direction: column;
  padding: $padding-l;

  div.links {
    display: flex;
    justify-content: space-between;
    line-height: 2;

    div span {
      font-size: 1.75rem;
      font-family: sen;
      font-weight: bold;
    }

    .social-media {
      display: flex;
      gap: 0.5rem;
    }

    .social-media a img {
      height: 25px;
      filter: invert(1);
      margin-top: 1rem;
    }

    > div:last-child {
      margin-right: 10rem;
    }

    ul li a:hover {
      border-bottom: solid 2px $light;
    }
  }

  div.credits {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: small;
    color: #7d8f9e;

    span {
      font-weight: bold;
    }

    span:hover {
      color: $light;
    }
  }
}

main section.services {
  padding: $padding-l;
  height: auto;

  h2 {
    color: $blue;
  }

  #bubbles-container {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;

    .service-bubble {
      width: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .service-icon {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        span {
          position: absolute;
          z-index: 2;
          pointer-events: none;
          color: $light;
          font-size: 2.25rem;
        }

        span.offCenter {
          margin-right: 0.3rem;
        }

        svg {
          height: 100px;
          position: relative;
        }

        .bubble-circle {
          fill: $blue;
          transition: fill 0.1s ease-in-out;
        }

        .bubble-circle:hover {
          fill: $darkBlue;
          cursor: pointer;
        }

        .bubble-spikes {
          visibility: hidden;
        }
      }
    }
    .service-name {
      text-align: center;
      font-family: sen;
      color: $blue;
      font-weight: bold;
      font-size: 1rem;
    }
  }
}

.spikes-divider-top,
.spikes-divider-bottom {
  line-height: 0;

  svg path {
    fill: $light;
  }
}

main section#news-section {
  div#news-container {
    background-color: $light;
    padding: $padding-l;
    display: flex;
    gap: 5rem;
    justify-content: center;

    div.news-card {
      position: relative;
      overflow: hidden;
      height: 300px;
      width: 300px;
      border-radius: 1.5rem;

      display: flex;
      align-items: end;
      padding: 1.5rem;
      box-shadow: $dark 2px 2px 5px;
      transition: transform 0.2s ease-in-out, box-shadow 0.2s linear;
      cursor: pointer;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
      }

      p.news-head {
        color: $white;
        font-size: 0.75rem;
        position: relative;
        z-index: 2;
      }
    }

    div.news-card::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1; /* encima de la img, debajo del contenido */
      pointer-events: none; /* no bloquea clicks */
      background-image: linear-gradient(to top, $blue 5%, transparent 50%);

      background-size: 100% 150%, cover;
      background-position: 0 75%, center;
      transition: background-position 0.2s linear;
    }
    div.news-card:hover::after {
      background-position: 0 100%, center;
    }
    div.news-card:hover {
      transform: scale(1.05);
      box-shadow: $dark 3px 3px 6px;
      text-decoration: underline white;
    }
  }

  div#news-buttons {
    padding-top: 2rem;
    background-color: $light;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
